asarPy==1.0.1
asgiref==3.11.1
bcrypt==5.0.0
certifi==2026.6.17
cffi==2.0.0
charset-normalizer==3.4.7
cryptography==49.0.0
Django==6.0.6
djangorestframework==3.17.1
idna==3.18
invoke==3.0.3
paramiko==5.0.0
pillow==12.3.0
psycopg==3.3.4
psycopg-binary==3.3.4
pycparser==3.0
PyNaCl==1.6.2
python-dotenv==1.2.2
qrcode==8.2
requests==2.34.2
sqlparse==0.5.5
urllib3==2.7.0
